# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# db data directory
rethinkdb-data

# misc
.DS_Store
.env
npm-debug.log
config.json
